$black: #000000;
$white: #FFFFFF;
$font-weight-500 : 500;
$font-weight-600 : 600;
$width-medium: 360px;
$image-height-medium: 140px;
$enormous: 6vw;
$very-very-big: 3.8vw;
$very-big: 2.7vw;
$big : 1.9vw;
$medium : 1.2vw;
$small: 1vw;
$line-height-medium: 22px;
$line-height-small: 17px;

#app {
    height: 100vh !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.color-black {
    color: $black !important;
}

.background-black {
    background: $black !important;
}

.hover-white:hover {
    color: #D1D1D1 !important;
}

.hover-black:hover {
    color: $black !important;
}

.logo {
    height: 100px !important;
    margin-right: 10px !important;
    margin-bottom: 25px !important;
}

.title {
    font-size: $very-very-big !important;
    margin-left: 4px;
}

#degree {
    font-weight: 700 !important;
}

@media (min-width: 767px) {

    #navigation-bar {
        position: fixed;
        height: 100vh !important;

        img {
            width: 70px;

        }
    }

    #biography {
        max-width: 100vw;
        height: 100vh;

        h1 {
            font-weight: 500;
            margin-left: 4px;
        }

        h2 {
            font-weight: 800;
        }

        p {
            font-weight: 500;
            max-width: 600px;
            text-align: left;
        }

        a {
            font-weight: 700;
            margin-left: 0.2vw;
        }

    }

    #certificates {
        h1 {
            margin-left: 1.2em;
        }

        #certificate-logo {
            max-height: 1.5*$enormous;
        }

        #certificate {
            filter: grayscale(1);

            #text {
                display: none;
            }
        }
    }

    #experiencies {
        height: 100vh;

        #experience {
            font-weight: $font-weight-500;
            font-family: Montserrat;
            line-height: $medium;

            img {
                height: auto;
                max-width: $very-very-big;
            }

            h2 {
                line-height: $line-height-small;
            }

            h1 {
                font-weight: $font-weight-600;
            }

            p {
                max-width: $width-medium;
            }

            #image-container {
                padding: $big;
            }
        }
    }

    #habilities {
        h1 {
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-right: 0.6em;
        }

        #hability {
            padding-top: 2vw;
            display: flex;
            max-height: 10vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

            img {
                height: auto;
                max-width: 4vw;
            }

            p {
                padding-left: $small;
                text-align: center;
            }

        }
    }

    #projects {
        #firstrow {
            max-height: 150px;
        }

        #project {
            max-height: min-content !important;
            height: min-content !important;

            img {
                height: 350px;
                width: 100%;
                object-fit: fill;
                object-position: center;
            }

            #overlay {
                height: 400px !important;
            }
        }
    }

    #blogs {
        height: 100vh;

        h1 {
            font-weight: $font-weight-600;
            line-height: 29px;
        }
    }

    #blog {

        img {
            object-fit: fill;
            height: 100%;
        }

        h1 {
            font-weight: $font-weight-600;
            line-height: 29px;
        }

        p {
            text-align: left;
            max-width: 445px;
        }
    }
}

@media (max-width: 767px) {
    .general-container {
        margin-top: 80px;
    }

    .title {
        font-size: 1.2*$enormous !important;
        margin-left: 4px;
    }

    #navigation-bar {
        min-height: 60px;
        position: fixed;
        overflow: visible;
        left: 0;
        width: 100vw !important;
        padding-right: 1em;

        img {
            width: 70px;
            height: 60px !important;
            position: absolute;
            top: 0;
            left: 10px;
            padding: 10px;
        }
    }

    #biography {
        h1 {
            font-weight: 500;
        }

        h2 {
            width: fit-content;
            font-style: italic;
            font-weight: 800;
        }

        p {
            font-weight: 400;
        }

        img {
            height: auto;
            border-radius: 60px;
            opacity: 0.8;
        }
    }


    #habilities {
        h1 {
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-right: 0.6em;
        }

        #hability {
            padding: 1.5vw;
            padding-top: 5vw;
            display: flex;
            max-height: 10vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: auto;
                max-width: 10vw;
            }

            p {
                padding-left: $small;
                text-align: center;
            }

        }
    }


    #experiencies {
        margin-top: 70px;
        height: 100vh;

        #experience {
            p {
                line-height: $big;
            }

            h1 {
                line-height: $small;
            }
        }
    }


    #certificates {
        h1 {
            font-weight: 500;
            margin-right: 1.2em;
        }

        #certificate {
            margin: 5px;
            filter: grayscale(1);

            #text {
                display: none;
            }
        }
    }

    #projects {
        #project {
            margin-top: 4vw;

            img {
                height: 300px;
                object-fit: fill;
            }
        }
    }
}