$seagrey: #5f6366;
$seablue: #4d6d9a;
$greyblue: #88bdbc;
$pinkblue: #99ced3;
$pink: #edb5bf;
$font-weight-500 : 500;
$font-weight-600 : 600;
$width-medium: 360px;
$image-height-medium: 140px;
$enormous: 6vw;
$very-very-big: 3.8vw;
$very-big: 2.7vw;
$big : 1.9vw;
$medium : 1.2vw;
$small: 1vw;
$line-height-medium: 22px;
$line-height-small: 17px;

* {
    image-rendering: -webkit-optimize-contrast;
}


#app {
    height: 100vh;
}

.hoverWhite:hover {
    color: white !important;
}

.color-seagrey {
    color: #5f6366 !important;
}

.color-seablue {
    color: #4d6d9a !important;
}

.color-greyblue {
    color: #88bdbc !important;
}

.color-pinkblue {
    color: #99ced3 !important;
}

.color-pink {
    color: #edb5bf !important;
}
.background-seagrey{
    background: #5f6366 !important;
}
.background-seablue{
    background: #4d6d9a !important;
}
.background-greyblue{
    background: #88bdbc !important;
}
.background-pinkblue{
    background: #99ced3 !important;
}

.background-pink{
    background: #edb5bf !important;
}

#university{
    font-weight: 600 !important;
}
#degree{
    font-weight: 100 !important;
}

.logo {
    height: 100px !important;
    margin-right: 10px !important;
    margin-bottom: 25px !important;
}

.title {
    font-weight: 500;
    font-family: 'Merienda One', cursive;
    display: flex;
    text-decoration: underline;
    text-underline-offset: $medium;
    align-items: center;
    margin-right: 1em;
    font-size: $very-big;
}

@media (min-width: 767px) {

    #navigation-bar {
        font-size: $big;
        position: fixed;
        width: inherit;
        height: 100vw;
        max-width: 100% !important;

        img {
            width: 80%;
            margin-bottom: 2em;
            margin-top: 2em;
        }
    }

    #biography {
        max-width: 100vw;
        height: 100vh;
        h1 {
            font-size: 0.8$big;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
        }

        h2 {
            font-size: 0.7*$big;
            width: fit-content;
            font-style: italic;
            font-weight: 400;
        }


        img {
            height: auto;
            max-width: min-content;
            max-height: 3*$enormous;
            margin-top: 1.2vw;
        }

        #biography-title {
            font-size: $very-very-big;
        }
        p {
            font-size: $small;
            font-weight: 400;
            text-align: left;
            font-style: italic;
        }

        a {
            font-size: $medium;
            font-style: italic;
            font-weight: 300;
            margin-left: 1.2vw;
        }
    }

    #certificates {
        h1 {
            font-size: $very-big;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
            margin-right: 1.2em;
        }

        #certificate-logo {
            max-height: 1.5*$enormous;
        }

        #certificate {
            filter: grayscale(1);

            #text {
                display: none;
            }
        }
    }

    #experiencies {
        height: 100vh;

        #experience {
            font-weight: $font-weight-500;
            font-family: Montserrat;
            font-size: $medium;
            line-height: $medium;

            img {
                height: auto;
                max-width: $very-very-big;
            }

            h2 {
                line-height: $line-height-small;
                font-size: $big;
            }

            h1 {
                font-weight: $font-weight-600;
                font-size: $big;
            }

            p {
                max-width: $width-medium;
            }

            #image-container {
                padding: $big;
            }
        }
    }

    #habilities {
        h1 {
            font-size: $very-big;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
            display: flex;
            text-decoration: underline;
            text-underline-offset: $small;
            align-items: center;
            margin-right: 0.6em;
        }

        #hability {
            padding-top: 2vw;
            display: flex;
            max-height: 10vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

            img {
                height: auto;
                max-width: 4vw;
            }

            p {
                font-size: $medium;
                padding-left: $small;
                text-align: center;
            }

        }
    }

    #projects {
        #firstrow {
            max-height: 150px;
        }

        #project {
            max-height: 600px !important;
            height: min-content !important;

            p,
            a {
                font-size: $medium;
            }

            li {
                font-size: $big;
            }

            img {
                height: 4*$enormous;
                object-fit: fill;
            }
        }
    }

    #blogs {
        height: 100vh;

        h1 {
            font-weight: $font-weight-600;
            line-height: 29px;
            font-size: $very-very-big;
        }
    }

    #blog {

        img {
            object-fit: fill;
            height: 100%;
        }

        h1 {
            font-weight: $font-weight-600;
            line-height: 29px;
            font-size: $very-big;
        }

        h2 {
            font-size: $big;
        }

        p {
            font-size: $medium;
            text-align: left;
            max-width: 445px;
        }
    }
}

@media (max-width: 767px) {
    .general-container {
        margin-top: 100px;
    }


    #navigation-bar {
        min-width: 100% !important;
        min-height: 80px;
        position: fixed;
        left: 0;

        img {
            width: 18%;
            height: 80px;
            position: absolute;
            top: 0;
            left: 10px;
            padding: 5px;
        }

        /*
        .hoverWhite:hover{
            color: white;
        }
        */
    }

    #biography {
        h1 {
            font-size: $enormous;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
        }

        h2 {
            font-size: $very-big;
            width: fit-content;
            font-weight: 400;
            border: solid 0.1vw;
        }

        p {
            font-size: $very-big;
            font-weight: 400;
        }

        img {
            height: auto;
            border-radius: 60px;
            opacity: 0.8;
        }

        a {
            padding: 1.7vw;
            font-size: $very-big;
            font-style: italic;
            font-weight: 400;
        }
    }


    #habilities {
        h1 {
            font-size: $enormous;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
            display: flex;
            text-decoration: underline;
            text-underline-offset: $big;
            align-items: center;
            margin-right: 0.6em;
        }

        #hability {
            padding: 1.5vw;
            padding-top: 5vw;
            display: flex;
            max-height: 10vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: auto;
                max-width: 10vw;
            }

            p {
                font-size: $very-big;
                padding-left: $small;
                text-align: center;
            }

        }
    }


    #experiencies {
        margin-top: 70px;
        height: 100vh;

        #experience {
            p {
                font-size: $big;
                line-height: $big;
            }

            h1 {
                line-height: $small;
                font-size: $very-big;
            }
        }
    }


    #certificates {
        h1 {
            font-size: $enormous;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
            margin-right: 1.2em;
        }

        #certificate {
            margin: 5px;
            filter: grayscale(1);

            #text {
                display: none;
            }
        }
    }

    #projects {
        h1 {
            font-size: $enormous;
            font-weight: 500;
            font-family: 'Merienda One', cursive;
            display: flex;
            text-decoration: underline;
            text-underline-offset: $big;
            align-items: center;
        }

        #project {
            margin-top: 4vw;

            p,
            a {
                font-size: $very-big;
            }

            li {
                font-size: $very-very-big;
            }

            img {
                height: 45vw;
                object-fit: fill;
            }
        }
    }
}