#app {
  height: auto !important;
}
.title-style{
  font-weight: bolder !important;
  font-size: 46px !important;
}

.experience-date{
  font-weight: lighter !important;
  font-size: 14px !important;
}

.experience-title{
  font-weight: lighter !important;
  font-size: 30px !important;
}

.section-title{
  font-weight: lighter !important;
  font-size: 36px !important;
}

.color-black {
  color: #000000 !important;
}

.background-black {
  background: #000000 !important;
}

.background-white {
  background: #FFFFFF !important;
}

.background-grey {
  background: #3b3b3b;
}

.hover-white:hover {
  color: grey !important;
}

.hover-black:hover {
  color: #000000 !important;
}

.logo {
  height: 60px !important;
  width: 60px;
}

.title {
  font-size: 3.8vw !important;
  margin-left: 4px;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (min-width: 767px) {
  #certificates h1 {
    margin-left: 1.2em;
  }
  #certificates #certificate-logo {
    max-height: 4.8vw;
  }
  #certificates #certificate {
    filter: grayscale(1);
  }
  #certificates #certificate #text {
    display: none;
  }
  #experiencies #experience {
    font-weight: 500;
    font-family: Montserrat;
    line-height: 1.2vw;
  }
  #experiencies #experience img {
    height: auto;
  }
  #experiencies #experience h2 {
    line-height: 17px;
  }
  #experiencies #experience h1 {
    font-weight: 600;
  }
  #experiencies #experience p {
    max-width: 360px;
  }
  #experiencies #experience #image-container {
    padding: 1.9vw;
  }
  #habilities h1 {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 0.6em;
  }
  #habilities #hability {
    padding-top: 2vw;
    display: flex;
    max-height: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  #habilities #hability img {
    height: auto;
    max-width: 4vw;
  }
  #habilities #hability p {
    padding-left: 1vw;
    text-align: center;
  }
  #projects #project {
    height: 600px;
  }
  #projects #project img {
    height: 260px;
    width: 100%;
  }
  #blogs {
    height: 100vh;
  }
  #blogs h1 {
    font-weight: 600;
    line-height: 29px;
  }
  #blog img {
    object-fit: fill;
    height: 100%;
  }
  #blog h1 {
    font-weight: 600;
    line-height: 29px;
  }
  #blog p {
    text-align: left;
    max-width: 445px;
  }
}
@media (max-width: 767px) {
  #footer-start-project {
    position: relative !important;
    bottom: 40px !important;
    border-radius: 1em !important;
  }
  .social-media {
    object-fit: fill !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 100em !important;
    width: 3em !important;
    border: solid 1px #FFFFFF !important;
  }
  .social-media a {
    background-color: white !important;
  }
  .title {
    font-size: 7.2vw !important;
    margin-left: 4px;
  }
  #habilities h1 {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 0.6em;
  }
  #habilities #hability {
    padding: 1.5vw;
    padding-top: 5vw;
    display: flex;
    max-height: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #habilities #hability img {
    height: auto;
    max-width: 10vw;
  }
  #habilities #hability p {
    padding-left: 1vw;
    text-align: center;
  }
  #experiencies {
    margin-top: 70px;
    height: 100vh;
  }
  #experiencies #experience p {
    line-height: 3.8vw;
  }
  #experiencies #experience h1 {
    line-height: 1vw;
  }
  #certificates h1 {
    font-weight: 500;
    margin-right: 1.2em;
  }
  #certificates #certificate {
    margin: 5px;
    filter: grayscale(1);
  }
  #certificates #certificate #text {
    display: none;
  }
  #projects #project {
    margin-top: 4vw;
  }
  #projects #project img {
    height: 300px;
    object-fit: fill;
  }
}

/*# sourceMappingURL=index.css.map */
